* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea {
  padding: 5px;
  border: 1px solid rgb(201, 200, 200);
  border-radius: 3px;
}

textarea {
  resize: none;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-control label {
  margin-bottom: 3px;
}

.btn {
  padding: 10px;
  border: none;
  background-color: none;
  border-radius: 3px;
  cursor: pointer;
}

.primary-btn {
  background-color: black;
  color: white;
  transition: 0.5s background-color;
}

.primary-btn:hover {
  background-color: rgb(57, 57, 57);
}

.rounded-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px !important;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.card {
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  transition: 0.2s box-shadow;
}

.card:hover {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

section {
  margin: 50px 0;
}

.image-upload {
  border: 1px solid rgb(201, 200, 200);
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: grey;
}

.image-upload:focus {
  outline: 2px solid black;
}

.image-preview {
  position: relative;
}

.image-preview button {
  position: absolute;
  top: 0;
  right: 0;
}

.highlight-red {
  background-color: rgba(255, 0, 0, 0.5);
}
